h1 {
    color: rgb(37, 92, 146);
  }
  
  
  h2 {
    color: rgb(0, 0, 0);
  }
  
  
  .inside {
    width: 550px;
    border: 5px solid rgb(37, 92, 146);
  }

  body {
    background-color: rgba(43, 96, 117, 0.26);
  }
